.product__btn {
  cursor: pointer; 
  background: var(--primary-blue);
  border: none;
  color: white;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 400;
  width: 35rem;
}

@media screen and (min-width: 0) and (max-width: 767px) {
  .product__btn {
    width: 19.75rem;
  }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .product__btn {
    width: 43.25rem;
  }
  
}