.product__title {
  margin-bottom: 1.75rem;
  font-size: 1.125rem;
  font-weight: 700;
  text-align: center;
  color: var(--font-gray);
}

@media screen and (min-width: 0) and (max-width: 767px) {
  .product__title {
    font-size: 1;
  }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .product__title {
    font-size: 1;
  }
  
}