.product__view {
  text-decoration: none;
  color: var(--primary-blue);
  font-size: 1rem;
  font-weight: 700;
}

@media screen and (min-width: 0) and (max-width: 767px) {
  .product__view {
    font-size: .875rem;
  }
}