.products__header__btn {
  cursor: pointer; 
  background: var(--primary-blue);
  border: none;
  color: white;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .form__btn {
    padding: .75rem 1rem;
  }
  
}
