.banner__btn {
  cursor: pointer; 
  background: var(--primary-blue);
  border: none;
  color: white;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1rem;
}

@media screen and (min-width: 0) and (max-width: 767px) {
  .banner__btn {
    margin-top: .5rem;
  }
  
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .banner__btn {
    padding: .75rem 1rem;
  }
}