.header {
  padding: 32px 152px 32px 152px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Raleway";
}

.header__right {
  display: flex;
  align-items: center;
  gap: 0 2rem;
}

.search__form {
  position: relative;
  width: 24.5rem;
  display: flex;
}

.search__form__input {
  width: 100%;
  height: 100%;
  display: block;
  border: none;
  padding: 0.75rem 1rem 0.75rem 1rem;
  border-radius: 1.25rem;
  background-color: var(--bg-color);
}

.search__form__input::placeholder {
  color: var(--secondary-gray);
  font-size: 0.875rem;
}

.search__form__input:focus {
  outline: none;
}

.search__form__btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background: none;
}

.search__form__btn i {
  color: var(--secondary-gray);
}

.login__btn {
  cursor: pointer; 
  padding: 1rem 4.375rem 1rem 4.375rem;
  border: 1px solid var(--primary-blue);
  background: none;
  font-size: 1rem;
  color: var(--primary-blue);
}
