.container {
  background-color: var(--bg-color);
}

.container.__login {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5.75rem 0;
}

.container.__new {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5.75rem 0;
}