.header {
  padding: 2rem 9.5rem 2rem 9.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Raleway";
}

.header__right {
  display: flex;
  align-items: center;
  gap: 0 2rem;
}

.logo {
  width: 11rem;
  height: 3.125 rem;
}

.search__form {
  position: relative;
  width: 24.5rem;
  display: flex;
}

.search__form__input {
  width: 100%;
  height: 100%;
  display: block;
  border: none;
  padding: 0.75rem 1rem 0.75rem 1rem;
  border-radius: 1.25rem;
  background-color: var(--bg-color);
}

.search__form__input::placeholder {
  color: var(--secondary-gray);
  font-size: 0.875rem;
}

.search__form__input:focus {
  outline: none;
}

.search__form__btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 3.125rem;
  height: 100%;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background: none;
}

.search__form__btn i {
  color: var(--secondary-gray);
}

.login__btn {
  cursor: pointer; 
  padding: 1rem 4.375rem 1rem 4.375rem;
  border: 1px solid var(--primary-blue);
  background: none;
  font-size: 1rem;
  color: var(--primary-blue);
}

.search__btn {
  display: none;
}

@media screen and (min-width: 0) and (max-width: 767px) {
  .header {
    padding: 1rem;
  }

  .logo {
    width: 6.25rem;
    height: 1.75rem;
  }

  .search {
    display: none;
  }

  .search__btn {
    display: block;
    width: 3.125rem;
    height: 100%;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background: none;
    order: 1;
  }

  .login__btn {
    padding: .75rem 2.965622rem .75rem 2.965622rem;
  }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    padding: 1rem 2rem;
  }

  .logo {
    width: 6.25rem;
    height: 1.75rem;
  }

  .search__form {
    width: 17rem;
  }

  .login__btn {
    padding: .75rem 4rem .75rem 4rem;
  }
}