:root {
  --bg-color: #F5F5F5;
  --secondary-gray: #A2A2A2;
  --font-gray: #464646;
  --primary-blue: #2A7AE4;
  --secondary-blue: #EAF2FD;
}

body {
  background-color: white;
  transition: 1s;
  font-family: "Raleway";
}